.wrapper {
  -webkit-text-size-adjust: 100%;
  font-family: Inter, sans-serif;
  /* transform: translate3d(0px, 0px, 0px) scale3d(1.5, 1.5, 1) rotateX(0deg) rotateY(0deg)
    rotateZ(0deg) skew(0deg, 0deg); */
  transform-style: preserve-3d;
}

.motion {
  -webkit-text-size-adjust: 100%;
  font-family: Inter, sans-serif;
  transform-style: preserve-3d;
}

.particle1 {
  transform: translate3d(3px, 4px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(20deg)
    skew(0deg, 0deg);
}

.particle2 {
  transform: translate3d(3px, 2px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-26deg)
    skew(0deg, 0deg);
}

.particle3 {
  transform: translate3d(2px, 2px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(17deg)
    skew(0deg, 0deg);
}

.particle4 {
  transform: translate3d(0.5px, 1.5px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg)
    rotateZ(20deg) skew(0deg, 0deg);
}

.particle5 {
  transform: translate3d(1px, -1px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(35deg)
    skew(0deg, 0deg);
}

.particle6 {
  transform: translate3d(-1.5px, -2.5px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg)
    rotateZ(23deg) skew(0deg, 0deg);
}

.particle7 {
  transform: translate3d(-1.5px, -1px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg)
    rotateZ(-26deg) skew(0deg, 0deg);
}

.particle8 {
  transform: translate3d(-2px, 2.5px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg)
    rotateZ(-49deg) skew(0deg, 0deg);
}
